.nav {
  padding: 20px 0px;
}
.nav__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__img {
  margin-left: -30px;
}
.nav__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.nav__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.nav__card__icon {
  font-size: 14px;
  color: #000000;
}
.nav__card__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  color: #000;
}
.nav__input {
  border: 1px solid #64b496;
  border-radius: 5px 0px 0px 5px;
  padding: 13px 16px;
}
.nav__select {
  border: 1px solid #64b496;
  border-left: none;
  border-right: none;
  padding: 13px 16px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #212529;
}
.nav__btn {
  padding: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0px 5px 5px 0px;
  background-color: #f53e32;
  color: #fff;
}