// header start
.header {
  padding: 230px 0px;
  background-color: #e6e6e6;

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #212529;
    margin-bottom: 20px;
  }

  &__strong {
    text-decoration: underline;
    color: #f53e32;
  }

  &__title {
    max-width: 522px;
    font-weight: 900;
    font-size: 55px;
    line-height: 68px;
    color: #000;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 488px;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #7a7a7a;
    margin-bottom: 50px;
  }

  &__btns {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__icon {
    position: absolute;
    font-size: 14px;
    color: #7a7a7a;
    left: 15px;
    top: auto;
  }

  &__input {
    background-color: #fff;
    border-radius: 50px;
    padding: 20px 40px;
  }

  &__btn {
    background-color: #3bb77e;
    color: #fff;
    padding: 20px 40px;
    border-radius: 50px;
    margin-left: -50px;
  }
  &__row {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    background-color: #fff;
    box-shadow: 0px 3px 10px 0px #bdb8b8;
    border-radius: 30px;
    &__icon {
      color: #b6b6b6;
      font-size: 14px;
    }
    &__text {
      color: #3bb77e;
      font-size: 17px;
      line-height: 24px;
      font-weight: 700;
    }
  }
}

// main start
.main {
  padding: 75px 0px 100px;
}

// category start
.category {
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 50px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 512px;
    border-radius: 10px;
    padding: 80px 50px;
    height: 300px;
  }
  &__title {
    max-width: 244px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #253d4e;
  }
  &__btn {
    max-width: 120px;
    padding: 8px 12px;
    background-color: #f53e32;
    color: #fff;
    border-radius: 4px;
  }
}
